{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="restricted">
	    {{ page.content }}
	    {% for p in page.collection %}
			<a href="{{ p.url }}">
				<div class="publication-summary">
					<h3>{{ p.title }}</h3>
				</div>
			</a>
		{% endfor %}
	</div>
{% endblock %}