<?php  ?>
{% for post in taxonomy.findTaxonomy({'tag':'staff_chrm'}) %}
    {% if taxonomy.findTaxonomy({'tag':'staff_chrm'}) is empty %}
        <div></div>
    {% else %}
		<h1 class="mod-title-staff">Staff</h1>
		<hr class="mod-line-staff" />
	{% endif %}
{% endfor %}
<div id="featured-staff-section">
	<div class="featured-staff-wrap">
		{% for post in taxonomy.findTaxonomy({'tag':'staff_chrm'}) %}
		    <div class="featured-staff"><a href="{{ post.url }}">
		    	<div class="featured-image-wrap">
				{% for image in post.media.images %}
				  {{ image.html }}
				{% endfor %}
				</div>
				<h3>{{ post.title }}</h3>
			</a></div>
		{% endfor %}
	</div>
</div>
